[package]
name = "arkanoid"
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[build-dependencies]
cc = { version = "1.2.43" }

[dependencies]
sdl3-sys = "0.5.7"
